/* geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body{
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}
/* /geral */

/* header */
header{
    padding: 20px 2%;
}

header .logo img{
    float: left;
    width:236px;
}

header nav.menu-desktop{
    float: right;
}

header nav.menu-desktop ul{
    padding: 8px 0;
    list-style-type: none;
}

header nav.menu-desktop ul li{
    float: left;
    font-size: 14px;
    padding: 0 28px;
    text-transform: uppercase;
}

header nav ul li a{
    text-decoration: none;
    color: #b4b4b4;
}

header nav.menu-mobile{
    display: none;
    float: right;
    margin-top: 7px;
    width: 28px;
    height: 28px;
    background-image: url('../images/menu-mobile.png');
    background-size: 100% 100%;
    cursor: pointer;
}

nav.menu-mobile ul {
    z-index: 9;
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
    text-align: center;
    background-color: white;
}

nav.menu-mobile ul li{
    padding: 10px 0;
    text-transform: uppercase;
}
/* /header */

/* mosaic */
.mosaic-single{
    float: left;
    width: calc(100% / 6);
}

.img-mosaic-single{
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 5px solid white;
    /* background-image: url(); */
}
/* /mosaic */

/* service */
section.service .container{
    max-width: 800px;
    display: flex;
    align-items: center;
    position: relative;
    top: -30px;
    text-align: center;
}

section.service .container .box-service{
    background-image: url('../images/icone_dente.png');
    background-size: 18px 18px;
    background-position: center calc(100% - 5px);
    background-repeat: no-repeat;
}

section.service .container .box-service h2{
    color: white;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
}

section.service .container .box-service p{
    margin-top: 8px;
    color: white;
    font-weight: normal;
    font-size: 12px;
}

section.service .container .box-service:nth-of-type(odd){
    width: 30%;
    padding: 30px 2%;
    background-color: #576975;
}

section.service .container .box-service:nth-of-type(even){
    width: 40%;
    padding: 50px 2%;
    background-color: #688293;
    background-image: none;
}
/* /service */

/* profile-container */
section.profile-container{
    padding: 40px 0;
}

section.profile-container .container{
    max-width: 1000px;
}

section.profile-container .profile-wraper{
    padding-top: 40%;
    position: relative;
}

section.profile-container .profile-wraper2{
    position: absolute;
    left: 0;
    top:0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

section.profile-container .img-profile{
    width: 40%;
    height: 100%;
    background-image: url(../images/img_perfil.png);
    background-size: 100% 100%;
}

section.profile-container .text-profile{
    width: 60%;
    padding: 20px 30px;
}

section.profile-container .text-profile h2{
    color: #698293;
    font-size: 18px;
}

section.profile-container .text-profile p{
    color: #4b4b4b;
    font-size: 15px;
    line-height: 25px;
    margin-top: 8px;
}
/* /profile-container */

/* videos */
section.videos{
    padding: 70px 0 50px 0;
}

section.videos .box-video{
    position: relative;
    float: left;
    width: 33.3%;
    padding-top: calc(33.3% * 0.6);
    border: 5px solid white;
    background-color: gray;
}

section.videos iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/* /videos */

/* treatments */
section.treatments{
    padding-top: 70px;
}

section.treatments .treatments-container{
    float: left;
    width: 33.3%;
}

section.treatments > h2{
    color: #698293;
    text-align: center;
    font-size: 18px;
}

section.treatments > .container{
        padding: 80px 0;
}

.treatments-single{
    padding: 20px;
}

.treatments-single h2{
    font-size: 18px;
    color: #737373;
}

.treatments-single p{
    padding: 10px 0;
    font-size: 13px;
    color: #b4b4b4;
}
/* /treatments */

/* feedback */
section.feedback h2{
    color: #698293;
    text-align: center;
    font-size: 18px;
}

section.feedback .container{
    padding: 40px 0;
    max-width: 400px;
}

section.feedback .feedback-single{
    text-align: center;
    width: 100%;
    padding: 0 2%;
}

.feedback-single q{
    font-size: 15px;
    color: #b4b4b4;
}

.feedback-single .name-feedback{
    padding: 19px 0;
}

.name-feedback img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.name-feedback span{
    position: relative;
    top: 4px;
    font-size: 13px;
    color: #b4b4b4;
    display: inline-block;
    vertical-align: top;
}
/* /feedback */

/* social */
.instagram-call{
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background: #98a5ae;
}

.instagram-call p{
    line-height: 23px;
    color: white;
    font-size: 13px;
    padding: 10px 0;
}

.mosaic-social{
    float: left;
    width: 100%;
}

.img-mosaic-single-social{
    float: left;
    width: calc(100% / 9);
    padding-top: calc(100% / 9);
    background-color: gray;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 6px solid white;
}

.facebook-call{
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background: #576975;
}

.facebook-call p{
    line-height: 23px;
    color: white;
    font-size: 13px;
    padding: 10px 0;
}
/* /social */

/* contact */
section.contact{
    padding: 60px 2%;
}

section.contact h2{
    color: #698293;
    text-align: center;
    font-size: 18px;
}

section.contact form{
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
}

.form-wraper{
    float: left;
    padding: 0 10px;
    margin-top: 10px;
}

.w100{
    width: 100%;
}

.w50{
    width: 50%;
}

.form-wraper span{
    font-size: 15px;
    color: #b4b4b4
}

.form-wraper input{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 9px;
    margin-top: 8px;
    border: 1px solid #dadada;
}

.form-wraper textarea{
    margin-top: 8px;
    width: 100%;
    padding: 8px;
    height: 121px;
    resize: none;
    border: 1px solid #dadada;
}

.form-wraper input[type="submit"]{
    display: inline-block;
    width: 100px;
    height: 35px;
    border: 0;
    background: #688293;
    color: white;
    cursor: pointer;
}
/* /contact */

/* footer */
footer{
    padding: 40px 2%;
    background-color: #688293;
}

footer .container{
    max-width: 1100px;
}

footer .footer-block{
    float: left;
    width: 33.3%;
}

.footer-block h2{
    color: white;
    font-weight: normal;
    font-size: 18px;
}

.footer-block p{
    margin-top: 8px;
    color: white;
    font-size: 14px;
}
/* /footer */

@media screen and (max-width: 1024px){
    .img-mosaic-single-social{
        width: calc(100% / 6);
        padding-top: calc(100% / 6);
    }

    .mosaic-social div:nth-of-type(1n+7){
        display: none
    }
}

@media screen and (max-width: 850px){
    header nav.menu-desktop{
        display: none;
    }

    header nav.menu-mobile{
        display: block;
    }
}

@media screen and (max-width: 768px){
    section.service .container{
        flex-direction: column;
    }

    section.service .container .box-service:nth-of-type(odd){
        width: 80%;
        max-width: 350px;
        padding: 30px 2%;
    }
    
    section.service .container .box-service:nth-of-type(even){
        width: 85%;
        max-width: 380px;
        padding: 40px 2%;
    }

    section.profile-container .profile-wraper{
        padding-top: 0;
    }

    section.profile-container .profile-wraper2{
        position: static;
        height: auto;
        text-align: center;
        display: inline-block;
        /* flex-direction: column; */
    }

    section.profile-container .img-profile{
        display: inline-block;
        width: 50%;
        height: auto;
        padding-top: 70%;
    }
    
    section.profile-container .text-profile{
        display: inline-block;
        width:100%;
        text-align: justify;
        padding: 0 30px;
    }

    section.videos {
        text-align: center;
    }

    section.videos .box-video{
        float: none;
        width: 70%;
        display: inline-block;
        padding-top: calc(70% * 0.6);
        /* border: 5px solid white; */
    }

    .img-mosaic-single-social{
        width: calc(100% / 3);
        padding-top: calc(100% / 3);
    }

    .mosaic-social div:nth-of-type(1n+4){
        display: none
    }
}

@media screen and (max-width: 580px){
    section.profile-container .img-profile{
        width: 80%;
        padding-top: 110%;
    }

    section.videos .box-video{
        width: 100%;
        padding-top: calc(100% * 0.6);
        /* border: 5px solid white; */
    }

    footer{
        text-align: center;
    }

    footer .footer-block{
        float: none;
        width: 100%;
        margin: 30px 0;
    }

    .w50{
        width: 100%;
    }
}